.deposit {
  margin-top: 72px;
  color: $white;
  @media (max-width: 1300px) {
    margin-top: 60px;
  }
  @media (max-width: 1100px) {
    margin-top: 50px;
  }
  @include r($sm) {
    margin-top: 40px;
  }

  &__inner {
    @include flex-align-center(40);
    justify-content: space-between;
    padding: 40px 60px 40px 32px;
    border-radius: 40px;
    background: radial-gradient(98.51% 98.51% at 50% 98.51%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.00) 37.09%), #262626;
    box-shadow: 0 -12px 32px 0 rgba(159, 175, 217, 0.05);
    overflow: hidden;
    position: relative;
    @include r($desktop) {
      border-radius: 34px;
      padding: 35px 40px 35px 30px;
    }
    @media (max-width: 1100px) {
      border-radius: 30px;
      padding-right: 30px;
    }
    @include r($lg) {
      border-radius: 26px;
    }
    @include r($sm) {
      border-radius: 22px;
    }
    @include r($phone) {
      padding: 30px 17px;
      margin: 0 -15px;
    }

    &[data-theme='dark'] {
      background: radial-gradient(98.51% 98.51% at 50% 98.51%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.00) 38.27%), #444BF6;
      box-shadow: 0 -12px 32px 0 rgba(159, 175, 217, 0.05);
    }
  }

  &__content {
    min-height: 285px;
    @include flex-column(0);
    max-width: 465px;
    position: relative;
    z-index: 10;

    @media (max-width: 1300px) {
      max-width: 400px;
    }
    @include r($desktop) {
      min-height: 270px;
    }
    @media (max-width: 1100px) {
      min-height: 260px;
    }
    @include r($lg) {
      max-width: 350px;
    }
    @media (max-width: 960px) {
      min-height: 245px;
    }
    @include r($phone) {
      min-height: 220px;
    }
  }

  &__svg {
    transform: translateY(-1px);
  }

  &__text {
    color: rgba($white, .8);
    margin-bottom: 40px;
    max-width: 385px;
    font-size: 16px;
    @media (max-width: 1100px) {
      max-width: 360px;
    }
    @include r($phone) {
      font-size: 14px;
      max-width: 290px;
    }
  }

  &__title {
    @media (max-width: 1300px) {
      line-height: 1.1;
    }
  }

  &__link {
    margin-top: auto;

    &:hover {
      border-color: #2BAD72;
      background-color: transparent;
      color: #2BAD72;

      svg path {
        fill: #2BAD72;
      }
    }

    &:focus {
      background-color: transparent;
      color: $white;
      border-color: $white;

      svg path {
        fill: $white;
      }
    }

    &[data-theme='dark']:hover {
      background-color: $white;
      border-color: transparent;
      color: #0db06a;

      svg path {
        fill: #0db36a;
      }
    }
  }

  &__decor {
    @include bg;
    @include r($desktop) {
      height: 270px;
      width: auto;
    }
    @media (max-width: 1100px) {
      height: 260px;
    }
    @media (max-width: 1050px) {
      height: 245px;
    }
    @media (max-width: 965px) {
      position: absolute;
      right: -70px;
    }
    @media (max-width: 890px) {
      height: 230px;
    }
    @media (max-width: 810px) {
      opacity: .7;
      &[data-theme='dark'] {
        opacity: 1;
      }
    }
    @include r($tablet) {
      height: 220px;
    }
    @include r($sm) {
      height: 200px;
      right: -230px;
      opacity: .5;
      &[data-theme='dark'] {
        opacity: .8;
      }
    }
    @include r($phone) {
      height: 190px;
      right: -220px;
    }
  }
}