.statistics {
  position: relative;
  z-index: 30;
  padding: 156px 0;
  border-radius: 40px;
  background-color: $white30;
  box-shadow: 0 -12px 32px 0 rgba(0, 0, 0, 0.05);
  transition: background-color .4s, transform .4s;
  @media (max-width: 1300px) {
    padding: 126px 0;
  }
  @include r($desktop) {
    padding: 110px 0;
    border-radius: 32px;
  }
  @include r($lg) {
    padding: 95px 0;
  }
  @media (max-width: 870px) {
    padding: 75px 0;
  }
  @include r($tablet) {
    padding: 70px 0;
  }
  @include r($sm) {
    padding: 60px 0 50px;
  }
  @include r($phone) {
    padding: 50px 0;
  }

  &[data-theme='dark'] {
    background-color: $blackTheme5;
    box-shadow: 0px -12px 32px 0px rgba(0, 0, 0, 0.21);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    max-width: 850px;
    margin: 0 auto;
    position: relative;
    @media (max-width: 590px) {
      grid-gap: 12px 10px;
    }
    @media (max-width: 520px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    @include flex-column(0);
    align-items: center;
    text-align: center;
    background-color: $white;
    box-shadow: 0 8px 32px 0 rgba(240, 241, 247, 0.88);
    border-radius: 24px;
    padding: 40px 45px;
    min-height: 472px;
    position: relative;
    z-index: 50;
    @media (max-width: 920px) {
      border-radius: 20px;
      min-height: 430px;
      z-index: 0;
    }
    @media (max-width: 870px) {
      min-height: 390px;
    }
    @include r($tablet) {
      padding: 30px 35px;
      min-height: 360px;
    }
    @media (max-width: 650px) {
      padding: 30px;
    }
    @media (max-width: 590px) {
      padding: 25px 20px;
      border-radius: 16px;
    }
    @media (max-width: 520px) {
      min-height: 100%;
    }

    &[data-theme='dark'] {
      background-color: $blackTheme5;
      box-shadow: 0 16px 40px 0 #202020;
    }

    &--right {
      transform: translateY(90px);
      @media (max-width: 920px) {
        transform: none;
        z-index: 0;
      }
    }

    &--long {
      position: relative;
      z-index: 0;
      min-height: 455px;
      padding: 40px 32px 32px;
      grid-column: span 2;
      align-items: flex-start;
      @media (max-width: 920px) {
        background-color: $white;
        box-shadow: 0 8px 32px 0 rgba(240, 241, 247, .88);
        border-radius: 20px;
        min-height: 420px;
        &[data-theme='dark'] {
          background-color: $blackTheme5;
          box-shadow: 0 16px 40px 0 #202020;
        }
      }
      @include r($tablet) {
        min-height: 395px;
      }
      @media (max-width: 660px) {
        padding: 30px 25px;
        min-height: 370px;
      }
      @media (max-width: 590px) {
        padding: 30px 20px;
        overflow: hidden;
        border-radius: 16px;
      }
      @media (max-width: 580px) {
        overflow: hidden;
      }
      @media (max-width: 520px) {
        min-height: 330px;
        grid-column: span 1;
      }
      @include r($phone) {
        padding: 25px 20px;
      }
    }
  }

  &__background {
    position: absolute;
    left: -30px;
    top: -23px;
    z-index: 1;
    transition: opacity .4s;
    @media (max-width: 920px) {
      display: none;
    }

    &[data-theme='dark'] {
      opacity: 0;
    }

    &--dark {
      opacity: 0;
      left: -39px;

      &[data-theme='dark'] {
        opacity: 1;
      }
    }
  }

  &__content {
    @include flex-column(0);
    height: 100%;
    max-width: 355px;
    text-align: left;
    position: relative;
    z-index: 10;
  }

  &__decor {
    margin-bottom: 40px;
    @include r($desktop) {
      margin-bottom: 30px;
    }
  }

  &__img {
    position: absolute;
    bottom: -90px;
    right: -70px;
    z-index: 100;
    transform: rotate(20deg);
    transition: opacity .4s;

    @media (max-width: 920px) {
      bottom: -100px;
      right: -100px;
      width: 580px;
      height: auto;
      z-index: 0;
    }
    @media (max-width: 810px) {
      right: -100px;
    }
    @include r($tablet) {
      right: -100px;
      bottom: -90px;
      width: 540px;
    }
    @media (max-width: 700px) {
      width: 510px;
      bottom: -70px;
    }
    @media (max-width: 660px) {
      width: 480px;
      bottom: -70px;
      right: -80px;
    }
    @include r($sm) {
      width: 450px;
      bottom: -50px;
      right: -90px;
    }
    @media (max-width: 590px) {
      @include objectCoverBg;
      right: -150px;
      bottom: -200px;
      width: 470px;
      height: 570px;
    }
    @media (max-width: 520px) {
      width: 520px;
      height: 590px;
      right: -170px;
      bottom: -220px;
    }
    @include r($phone) {
      width: 440px;
      height: 500px;
      right: -140px;
      bottom: -190px;
    }
    @media (max-width: 420px) {
      width: 430px;
      height: 450px;
      right: -120px;
      bottom: -170px;
    }
    @media (max-width: 390px) {
      width: 400px;
      height: 460px;
      right: -120px;
      bottom: -185px;
    }
  }

  &__text {
    margin-bottom: 30px;
    @media (max-width: 520px) {
      max-width: 320px;
    }

    &--middle {
      max-width: 286px;
    }

    &--small {
      max-width: 292px;
      @media (max-width: 700px) {
        font-size: 15px;
      }
    }
  }

  &__link {
    margin-top: auto;
    position: relative;
    z-index: 300;
  }
}