.btn {
  display: flex;
  max-width: max-content;
  font-weight: 500;
  padding: 18px 24px;
  font-size: 16px;
  line-height: 1;
  background-color: $accent;
  justify-content: center;
  color: $white;
  border: 1px solid transparent;
  border-radius: 16px;
  box-shadow: 0 4px 4px 0 rgba(7, 15, 203, 0.05) inset, 0 0 0 0;
  transition: all .4s;
  position: relative;
  overflow: hidden;

  &[data-theme='dark'] {
    box-shadow: none;
    border-color: transparent;
  }

  &::before {
    @include pseudo;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background: radial-gradient(127.88% 127.88% at 50% -6.73%, rgba(68, 75, 246, 0.42) 40.97%, rgba(255, 255, 255, 0.19) 100%), #444BF6;
    transition: opacity .4s;
    z-index: 0;
  }

  &:focus {
    background-color: $white;
    border-color: $accent;
    color: $accent;
    box-shadow: 0 0 0 0 rgba(41, 49, 233, 0.45) inset, 0 0 0 0 rgba(12, 15, 86, 0.15);

    &[data-theme='dark'] {
      border-color: transparent;
    }

    svg path {
      fill: $accent;
    }

    &::before {
      opacity: 0;
    }
  }

  &:hover {
    box-shadow: 0 8px 19.2px 0 rgba(41, 49, 233, 0.45) inset, 0 4px 16px 0 rgba(12, 15, 86, 0.15);
    color: $white;

    svg path {
      fill: $white;
    }

    &::before {
      opacity: 1;
    }
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    z-index: 2;
  }
}

.btn--white {
  background-color: $white;
  color: $black;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid transparent;

  &[data-theme='dark'] {
    background-color: $blackTheme30;
    color: $white;
  }

  &::before {
    display: none;
  }

  &:focus {
    border-color: $accent;
    background-color: transparent;
    opacity: 1;
    color: $accent;

    &[data-theme='dark'] {
      border-color: $accentLight;
      color: $accentLight;
    }
  }

  &:hover {
    background-color: $white;
    border-color: rgba($black, .12);
    color: $black;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);

    &[data-theme='dark'] {
      border-color: rgba($white, .12);
      background-color: transparent;
      color: $white;
    }
  }
}

.btn--gray {
  background-color: $white;
  color: $black;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid rgba($black, .12);

  &[data-theme='dark'] {
    background-color: $blackTheme30;
    color: $white;
    border: 1px solid rgba($white, .08);
  }

  &::before {
    display: none;
  }

  &:focus {
    border-color: $accent;
    background-color: transparent;
    opacity: 1;
    color: $accent;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.02);

    &[data-theme='dark'] {
      background-color: $white;
      color: $black;
      border-color: transparent;
    }
  }

  &:hover {
    background-color: $white;
    border-color: rgba($black, .12);
    color: $black;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);

    &[data-theme='dark'] {
      background-color: transparent;
      color: $accentLight;
      border-color: $accentLight;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06);
    }
  }
}