.header {
  padding: 12px 0;
  transition: top .4s, background-color .4s;

  &--sticky {
    position: sticky;
    top: 0;
    @media (max-width: 880px) or (max-height: 850px) {
      position: static;
    }
  }

  &--fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: transform 0.4s ease, box-shadow .4s ease, background-color .4s ease;
  }

  &.fixed {
    background-color: $white;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .04);

    &[data-theme='dark'] {
      background-color: $blackTheme5;
    }

    .header__call {
      border-color: rgba($black, .4);

      &[data-theme='dark'] {
        border-color: rgba($white, .1);
      }

      &:hover {
        border-color: $accent;
        color: $accent;

        &[data-theme='dark'] {
          border-color: $accentLight;
          color: $accentLight;
        }
      }

      &:focus {
        background-color: $accent;
        border-color: transparent;
        color: $white;
      }
    }

    .menu-btn--header {
      border-color: $black;

      &[data-theme='dark'] {
        border-color: transparent;
      }

      &:hover {
        border-color: transparent;
      }

      &:focus {
        border-color: $accent;
      }
    }
  }

  &__inner {
    @include flex-align-center(50);
    @media (max-width: 820px) {
      gap: 27px;
    }
  }

  &__widget {
    @include flex-align-center(16);
  }

  &__logo {
    transition: opacity .4s, outline-color .4s;
    outline: 2px solid transparent;
    border-radius: 4px;

    &:hover {
      opacity: .5;
    }

    &:focus {
      outline-color: $accent;
    }
  }

  &__left {
    @include flex-align-center(18);
    margin-left: auto;
    @media (max-width: 820px) {
      display: none;
    }
  }

  &__nav {
    margin-right: 147px;
    @media (max-width: 1312px) {
      margin-right: 150px;
    }
    @include r($desktop) {
      margin-right: 20px;
    }

    &--mobile {
      display: none;
      @media (max-width: 820px) {
        display: block;
      }
    }
  }

  &__list {
    @include flex-align-center(18);
    @media (max-width: 820px) {
      gap: 27px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__link {
    padding-bottom: 2px;
    transition: opacity .4s, color .4s, border .4s;
    position: relative;
    @media (max-width: 820px) {
      font-size: 18px;
      color: $white;
    }
    @media (max-width: 400px) {
      font-size: 17px;
    }

    &[data-theme='dark'] {
      &::before {
        background-color: $white;
      }

      &:focus {
        color: $accentLight;

        &::before {
          background-color: $accentLight;
        }
      }
    }

    &::before {
      @include pseudo;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $black;
      transition: width .4s, background-color .4s;
      @media (max-width: 820px) {
        background-color: $white;
      }
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }

    &:focus {
      color: $accent;
      @media (max-width: 820px) {
        color: $accentLight;
      }

      &::before {
        width: 100%;
        background-color: $accent;
        @media (max-width: 820px) {
          background-color: $accentLight;
        }
      }
    }
  }

  &__call {
    margin-left: auto;
    border-radius: 50px;
    padding: 8px 12px;
    @media (max-width: 820px) {
      margin-left: 0;
      padding: 9px 13px;
      &:hover {
        background-color: transparent;
        border-color: rgba($white, .58);
        color: $white;
      }
      &:focus {
        color: $accentLight;
        border-color: $accentLight;
      }
    }
  }

  &__lang {
    @include flex-align-center(4);
    @include r($phone) {
      color: $white;
    }

    &--active {
      padding-bottom: 1px;
      transform: translateY(1px);

      &[data-theme='dark'] {
        &::before {
          background-color: $white;
        }
      }

      &::before {
        @include pseudo;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $black;
        @include r($phone) {
          background-color: $white;
        }
      }
    }

    &--mobile {
      display: none;
      margin-left: auto;
      @media (max-width: 820px) {
        display: flex;
      }
      @include r($phone) {
        display: none;
      }
    }

    &--menu {
      display: none;
      font-size: 18px;
      gap: 5px;
      @include r($phone) {
        display: flex;
      }
    }

    &-link {
      padding-bottom: 1px;
      transform: translateY(1px);
      color: rgba($black, .56);
      position: relative;
      transition: color .4s, border .4s;
      @include r($phone) {
        color: rgba($white, .56);
      }

      &[data-theme='dark'] {
        color: rgba($white, .56);
      }

      &::before {
        @include pseudo;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: transparent;
        transition: background-color .4s;
      }

      &:hover {
        color: $accent;
        @include r($phone) {
          color: $accentLight;
        }

        &[data-theme='dark'] {
          color: $accentLight;
        }
      }

      &:focus {
        color: $accent;
        @include r($phone) {
          color: $accentLight;
        }

        &::before {
          background-color: $accent;
          @include r($phone) {
            background-color: $accentLight;
          }
        }

        &[data-theme='dark'] {
          color: $accentLight;

          &::before {
            background-color: $accentLight;
          }
        }
      }
    }
  }

  &__mobile {
    @include flex-column(32);
    padding: 18px 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 450;
    background-color: $blackTheme100;
    transform: translateX(-100%);
    transition: transform .4s ease-in-out;
    @include r($phone) {
      padding-top: 23px;
    }

    &.active {
      transform: translateX(0);
    }
  }
}