<div class="container">
  <div class="companies__logos companies--luminosity">
    <img class="companies__img companies__img--1" src="images/logos/1.png" width="190" height="30.25" alt="логотип">
    <img class="companies__img companies__img--2" src="images/logos/2.png" width="102" height="30.25" alt="логотип">
    <img class="companies__img companies__img--3" src="images/logos/3.png" width="107.5" height="30.25" alt="логотип">
    <img class="companies__img companies__img--4" src="images/logos/4.png" width="205.7" height="30.25" alt="логотип">
    <img class="companies__img companies__img--5" src="images/logos/5.png" width="174" height="30.25" alt="логотип">
    <img class="companies__img companies__img--6" src="images/logos/6.png" width="102.22" height="30.25" alt="логотип">
    <img class="companies__img companies__img--7" src="images/logos/7.png" width="33.27" height="30.25" alt="логотип">
    <img class="companies__img companies__img--8" src="images/logos/8.png" width="78.65" height="30.25" alt="логотип">
    <img class="companies__img companies__img--9" src="images/logos/9.png" width="137" height="30.25" alt="логотип">
  </div>
</div>